* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    display: flex;
    margin: 30px;
}
.side-btns{
    display: flex;
    flex-direction: column;
    padding: 5px;
    background: lightskyblue;
    border-radius: 5px;
}
.side-btns a{
    font-size: 20px;
    font-weight: 700;
    color: #000;
    padding: 10px;
}
.side-btns a:hover{
    background: #fff;
    border-radius: 5px;
}
.content{
    padding: 30px;
}